extends base

block content
    // Default form register
    form.text-center.border.border-light.p-5.form-signup
        p.h4 SIGN UP
        .form-row
            .col
                // First name
                input#firstname.form-control(type='text' placeholder='First name')
            .col
                // Last name
                input#lastname.form-control(type='text' placeholder='Last name')
        // Address
        input#address.form-control.mb-4(type='text' placeholder='Address')
        // E-mail
        input#email.form-control.mb-4(type='email' placeholder='E-mail')
        // Password
        input#password.form-control.mb-4(type='password' placeholder='Password' )
        // Confirm Password
        input#confirmPassword.form-control.mb-4(type='password' placeholder='Confirm Password')

        // Phone number
        input#phone.form-control(type='text' placeholder='Phone number')
        
        // Sign up button
        button#signUp.btn.btn-info.my-4.btn-block Sign Up

        // Terms of service
        p
            | By clicking Sign up
            |  you agree to our 
            a(href='#') terms of service
    // Default form register
